/* VARIABLES */
:root {
    --primary-accent: #2e63a1;
    --secondary-accent: #741b7a;
    --copy-color: white;
    --back-color: black;
}

/* GENERAL */
.wrapper {
    width:100%;
    margin: auto;
}

body {
    background-color: var(--back-color);
    color: var(--copy-color);
    font-family: "Lato", sans-serif;
}

/* TEXT SIZING */
h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 2em;
    margin: 15px 0px 15px 0px; 
}

h3 {
    font-size: 1.5em;
    font-weight: 800;
    margin: 20px 0px 20px 0px; 
}

h4 {
    font-size: 1.25em;
}

h6 {
    font-size: 0.8em;
    font-weight:700;
}


/* SKIP LINKS */
.skip {
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
}

/* Added to override the a:visited styling since that makes the color of links stay white on visited, which conflicts with the white skip link buttons */
.skip:visited {
    color: black;
}



/* NAV */

/* Changes the full nav display to flex with wrap - including the h1. Adds margin above and below. */
nav {
    display: flex;
    flex-wrap:wrap;
    margin: 20px 0px 20px 0px;
}


/* THE SYSTEM HEADER */

/* Changes font-family of H1 to Playfair Display, and centers the text. Changes position of h1 to relative to allow the stripe. Centers the text using margin-left and margin-right auto, and separates the h1 from the nav links with margin-bottom */
nav h1 {
    font-family: "Playfair Display", serif;
    text-align: center;
    
    position: relative;

    margin-left:auto;
    margin-right:auto;
    margin-bottom: 10px;
}

/* Adding the stripe to the h1 - empty content box to provide a basis for the stripe. Absolute position with a -1 z-index to place it behind the text. Adds background colour for the stripe. By using the amount of characters it'd be covering (6/9), I used the width of 67% or one third. I eye-balled the height according to the images. Then, I used left and top to move them into the correct position.  */
nav h1::after {
    content: "";
    position: absolute;
    z-index: -1;
    
    background-color: #337ab7; 
    
    width: 67%;
    height: 40%;
    
    left: 35%;
    top: 33%;       
}


/* Removes default padding from ul in the nav.Displays the nav ul in flex, dividing the space evenly between. Gives it 100% width to have the links on a different line than the H1. */
nav ul {
    padding-left: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

/* Removes bullet points from the nav ul */
nav ul li {
    list-style-type: none;
}


/* BUTTONS / LINKS GENERAL */

/* Removes underline and color from blue to white (copy-color) for all links */
a {
    text-decoration: none;
    color: var(--copy-color);  
}

/* Keeps the link color the same copy color when visited */
a:visited {
    color: var(--copy-color);
}

/* Focus state for all links (including title) */
a:focus {
    border: 3px solid red;
}

/* Sets up nav links, and links styled as buttons for hover transitions, adding the transition, proper display settings, padding and border radius */
nav ul li a, a.button {
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    display: inline-block; /* This is necessary to allow transforms on the buttons, as by default they are display: inline which cannot be transformed */

    transition: background-color 0.5s, color 0.5s, transform 0.5s;
}

/* To links with the button class (all "Learn More" links, and the contact link), add the background color of the primary accent and ups the font-weight */
a.button {
    background-color: var(--primary-accent);
    font-weight:600;
}

/* Adds the secondary accent color to the background-color when visited, and applies the transition */
a.button:visited {
    background-color: var(--secondary-accent);

    transition: background-color 0.5s, color 0.5s, transform 0.5s;  
}

/* Hover state for nav links and links with class button: changes the text color to black, background-color to teal. Adds a transform scale to make the buttons a bit bigger. Finally, applies the transition. */
nav ul li a:hover, a.button:hover {
    color: black;
    background-color: #86ebd3;

    transform: scale(1.1);

    transition: background-color 0.5s, color 0.5s, transform 0.5s;
}

/* SPLASH DIV */

/* Container of the splash banner. Adds position:relative as container to the text image overlay. Adds overflow: hidden to allow for the imgZoom animation. Box shadow on container (due to hidden overflow, unable to put the box-shadow on the image) */
.splash {
    position:relative;
    overflow: hidden;
    box-shadow: 0px 10px 70px 20px rgba(255,255,255,0.1);
}

/* Image on the splash banner: mobile first approach, so for the mobile state, the width is 100% of the viewport and an approximate 550px height. Object-fit: cover centered the image and did not distort the image. imgZoom animation settings below */
.splash-img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    
    /* Animation settings: sets name imgZoom and duration, and loops infinitely back and forth */
    animation-name: imgZoom;
    animation-duration:5s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    
}

/* Sets the text position as absolute to overlay the text on the image. Positions 3em from the bottom. Centers text, and adds left and right padding as seen on the mockup. */
.splash-text {
    position: absolute;
    bottom: 3em;
    text-align: center;
    padding: 0px 30px 0px 30px;   
}

/* Changes initial state color and adds animation to the span that holds the "Solar System" text */
.splash-text h2 span.color-animation {
    color:#57a9be;
    
    /* Animation settings: sets name colorChange and duration, and loops infinitely back and forth */
    animation-name: colorChange;
    animation-duration: 5s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    
}

/* MEETS THE LOCALS */

/* Centers all text in the main tag */
main {
    text-align:center;
}

/* Sets up the locals div to be a grid system, and adds a 50px gap between each .celestial */
.locals {
    display:grid;
    gap: 50px;
}

/* Centers the text in each celestial body's div. This is unecessary for now, but makes it easier for when we remove the text-align from main on desktop */
.celestial {
    text-align:center;
}

/* Mobile first: the image is smaller than its full size on mobile, so I sized it down to 50%. Additionally, I centered the image using margin:auto */
.celestial > img {
    width: 50%;
    margin:auto;
}

.celestial > a.button, .celestial h4 {
    margin-top: 15px;
}

/* FOOTER */

/* Adds top border, top margin, and padding around the footer */
footer {
    border-top: 2px solid rgb(31, 31, 31);
    margin-top:40px;
    padding:20px;
}

/* Aligns the footer paragraph text in the center, bolds it */
footer p {
    text-align:center;
    font-weight:900;
}


/* TABLET SCREEN SIZE */
@media screen and (min-width: 500px){
    /* Shortens the margin between the h6 and h2 as is done in the prototype image */
    h2 {
        margin-top: 5px;
    }

    /* Changes the splash's text alignment to the left */
    .splash-text {
        text-align: left;
    }

    /* Uses the already established display:grid from the initial setup, and adds a 3 column grid, and shortens the gap between each planet. */
    .locals {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px
    }

    /* Makes the celestial body images take up 80% full width to allow for spacing.  */
    .celestial > img {
        width: 80%;
    }
}

/* DESKTOP SCREEN SIZE */
@media screen and (min-width: 900px){ 
    /* Aligns the h3 ("Meet the Locals") to the left in accordance with the prototype */
    h3 {
        text-align:left;
    }

    /* Modifies the wrapper to now include a 20% margin (margin auto already set up), with the max-width cut-off being 1000px*/
    .wrapper {
        width: 80%;
        max-width: 1000px;
    }

    /* Changes the flex justify to space-between to push the links to one side, and the h1 to the other */
    nav {
        justify-content: space-between;
    }

    /* Aligns the nav's h1 to the left, and removes the auto margins that center it.*/
    nav h1 {
        text-align: left;
        margin-left:0;
        margin-right:0;
    }

    /* The added space from the buttons changes the height of the h1, throwing off the height and top for the stripe, so this is modification for desktop */
    nav h1::after {
        height: 30%;
        top: 40%;
    }

    /* Aligns the content to the right of the screen. Changes the nav ul from the 100% it was previously at, in order to fit it onto the same line with flex. */
    nav ul {
        justify-content: right;
        width:60%;
    }


    /* Spaces out the list items to add some breathing room & room to scale on hover */
    nav ul li {
        margin-left: 20px;
    }

    /* Adds a border radius to the splash */
    .splash {
        border-radius: 30px;
    }

    /* Modifies the grid to by 6 columns long, and to take up widht 100%, which prevents overflow over the margin line, scaling down the celestial bodies to fit. */
    .locals {
        grid-template-columns: repeat(6, 1fr);
        width:100%;        
    }
    
    /* Adjusts the images in the celestial divs to take up the full space now. */
    .celestial > img {
        width: 100%;
    }
}


/* ANIMATIONS */

/* For the span.color-animation to change the color from light blue to mid-dark blue */
@keyframes colorChange {
    0% {
         color: #57a9be;
    } 
    
    100% {
         color: #356fa6;
    }
 }

 /* For the splash-img to zoom in and out, using the transform: scale with a hidden overflow on the container element */
 @keyframes imgZoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.25);

    }
 }